---
layout: default
---

<div clas="vidtop-content">
  <img class="logo" src="img/Logo_250.png" alt="Logo Vélez" title="Vélez"/>
  <div class="hub">
    <div class="catapult">
      <div class="spotify"><iframe src="https://open.spotify.com/follow/1/?uri=spotify:artist:6O1ZNPLwyfa0O02kPOyqTg&size=detail&theme=light" width="230" height="56" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowtransparency="true"></iframe></div>
      <div class="bandcamp"><a href="https://wearevelez.bandcamp.com" target="_blank"><img src="img/bandcamp-logotype-color-128.png"></a></div>
      <div class="mx3"><a href="https://mx3.ch/velez" target="_blank"><img src="img/mx3-logo.png"></a></div>
    </div>
    <a class="contact-link" href="mailto:contact@velez.ch" target="_blank" alt="Contact via Email">Contact VÉLEZ!</a>
  </div>
</div>

<div class="video-background">
  <div class="video-foreground">
    <script>
    var url = "https://www.youtube.com/embed/dPjBg-RnlNU?controls=0&mute=1&showinfo=0&rel=0&autoplay=1&loop=1&start=" + Math.floor(Math.random() * 4 * 60);
    document.write('<iframe src="'+url+'" frameborder="0" allowfullscreen></iframe>');
    </script>
  </div>
</div>
